{% extends "base.html" %}
{% block body %}
    <h2>Here we go!</h2>
    {%  if os in ('ios', 'android') %}
        <p>
            You're ready to Rebble, {{ name }}! To continue, make sure you have this page open on the device
            on which you use the official Pebble app.
        </p>
        <p>
            Once you tap the button, the Pebble {{ os_display }} app will launch.
            {% if os == 'android' %}
                One of three things will then happen:
                <ul>
                    <li>A Rebble screen will appear. It may have an orange spinner above it; you may ignore this.</li>
                    <li>The old Pebble login screen will appear. If this happens, close the app from the app switcher
                        and open it again. A Rebble screen should now appear.</li>
                    <li>Nothing. If this happens, tap &nbsp;<strong>⋮</strong>&nbsp; in the top right corner, then tap
                        Settings. At this point, either:
                        <ul>
                            <li>A Rebble screen will appear, or</li>
                            <li>Nothing interesting. In this case, scroll down to "ACCOUNT" and make sure you are
                            logged out. If not, tap it to log out. Now, tap to log in. A Rebble screen should appear.</li>
                        </ul>
                    </li>
                </ul>
                In any case, once you tap the button on the Pebble app's "Welcome to Rebble" screen, you are done!
                If your Pebble disconnects, just tap the usual connect button.
            {% else %}
                In order to continue setting up Rebble, once the Pebble app launches you will need to
                first <strong>wait at least fifteen seconds</strong>. Then tap the yellow exclamation mark in the top left corner
                and tap "log in". We'll see you there!
            {% endif %}
        </p>
        <p><a class="button" href="{{ link }}">Switch to Rebble</a></p>
    {% else %}
        <p>In order to continue, please head to <strong>{{ base }}</strong> on your phone.</p>
        <p>You can also <a href="https://auth.rebble.io/account">manage your subscription</a>.</p>
    {% endif %}
{% endblock %}
